{% extends "blog/base.html" %}
{% block content %}
    {% if aiAgents %}
        {% for agent in aiAgents %}
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ agent.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'user-aiagent' agent.author.username %}">
                            {{ agent.author }}
                        </a>
                        <small class="text-muted">{{ agent.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <h2>
                        <a class="article-title" href="{% url 'ai_agent_detail' agent.id %}">
                            {{ agent.name }}
                        </a>
                    </h2>
                    <p class="article-content">{{ agent.initial_prompt }}</p>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <h2>No agent</h2>
    {% endif %}
    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            
            {% for num in page_obj.paginator.page_range %}
                {% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn {% if page_obj.number == num %}btn-info{% else %}btn-outline-info{% endif %} mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}
